/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Megrim");
/*@import url("https://fonts.googleapis.com/css?family=Abel");*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* Fonts */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
}

* {
  margin: 0;
  padding: 0;
}
/*Welcome*/

h1 {
  font-family: Megrim, sans-serif;
  font-size: 45px;
  position: relative;
  top: 65px;
  margin-left: 50px;
}
#navbar {
   width: 100%;
   position: fixed;
   display: flex;
   justify-content: flex-end;
   list-style-type: none;
   padding-top: 60px;
   z-index: 1;
}
.nav-link {
    margin-right: 40px;
    margin-top: 30px;
}
.nav-link a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.nav-link:hover {
    text-decoration: underline;
}

#welcome-section {
    max-width: 100%;
    height: 100vh;
    background-image: url(https://drive.google.com/uc?id=1Xhh_z4VU9oczB0KsPjcaizHb0sPFtw3U);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
/*    position: relative;*/
}

h2 {
  font-family: "Open Sans";
  font-style: italic;
  letter-spacing: 1.25px;
  color: #bdbdbd;
  position: relative;
  top: 75px;
  margin-left: 219px;
}
/* /Welcome */

/* About */
#about {
  width: 100%;
  height: 100vh;
}
.section-title {
  font-family: Megrim;
  font-size: 35px;
  margin-top: 75px;
  margin-left: 160px;
}
hr {
  width: 50%;
  margin-left: 160px;
  margin-bottom: 25px;
}
#headshot {
    width: 300px;
    margin-left: 160px;
    margin-bottom: 25px;
    border-radius: 2px
}
.copy {
  width: 50%;
  margin-left: 160px;
}
/* /About */
/* Work */
#work {
  width: 100%;
  height: 100vh;
}
#grid-container {
  display: grid;
  width: 50%;
  margin-left: 150px;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-gap: 20px;
}
.project-title {
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    
}
.project-description {
    font-size: 16px;
    
}
.project-link {
    font-size: 20px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
/*
    left: 50%;
    transform: translateX(-50%)
*/
}
.project-link a {
    color: black;
    text-decoration: none;
}
.project-link a:hover {
    color: silver;
}
.thumbnail {
    width: 300px;
    padding-bottom: 10px;   
}
.project-tile {
    position: relative;
    min-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 15px;
    padding-bottom: 75px;
}
.project-tile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
/* /Work*/

/*Footer*/
#connect {
    width: 100%;
    height: auto;
    margin-top: 150px;
}
#footer-info {
    margin-left: 160px;
    padding-bottom: 45px
}
.profile-link {
    font-size: 35px;
    margin: 10px;
    color: black;
}
.profile-link:hover {
    border-bottom: 1px solid black;
}
@media (max-width: 1120px) {
  #navbar {
    width: 15%;
    flex-direction: column;
    margin-left: 45px;
    margin-top: 175px;
  }
  h2 {
    display: none;
  }
  #about {
    height: auto;
    margin-left: 55px;
  }
  #projects {
    height: auto;
    margin-left: 55px;
  }
  #connect {
    margin-left: 55px
  }
}

@media (max-width: 880px) {
  #grid-container {
    display: flex;
    flex-direction: column;
  }
}